
.container{
    margin-bottom: 20px;

}
.starter{
    position: relative;
    width: 100%;
}


.name{
    background-color: #003171;
    height: 175px;
    color: whitesmoke;
    padding-left: 50px;
    padding-top: 40px;
    margin-bottom: 10px;
}

.post{
    background-color: #264348;
    height: 100px;
    padding-left: 50%;
    color: whitesmoke;
}
.post h3{
    color: whitesmoke;
}
.image img{
    height: 200px;
    width: 155px;
    position: absolute;
    top: 100px;
    left: 100px;
}





.skills{
    background-color: lightgray;
    padding-left: 10px;
    
}
.contact{
    background-color: tomato;
    padding-left: 10px;
    color: whitesmoke;
}
.contact h3 {
    color: whitesmoke;
}
.contact h6{
    color: whitesmoke;
}

.information-2{
    margin-left: 50px;
    
}



.text-aline{
    text-align: center;
}
 h3{
     color: #003171;
     font-size: 28px;

}
h6{
    font-size: 16px;
    color: rgb(10, 10, 10);
}
h5{
    font-size: 24px;
}


